[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EventDetectGUI"]
	path = EventDetectGUI
	url = https://github.com/cran/EventDetectGUI
